# Usuals
numpy==1.20.3
pandas==1.2.4
sparse==0.12.0
seaborn==0.11.1
matplotlib==3.4.2

# PyTorch (GPU versions)
torch==1.9.0+cu111
torchvision==0.10.0+cu111
--find-links https://download.pytorch.org/whl/torch_stable.html

# Ray[tune]
ray==1.6.0
ray[tune]

# Avalanche + Avalanche specific library versions not included in its requirements
git+https://github.com/ContinualAI/avalanche.git@fa9201f1a38dc57621f3a5b02f833aa7cdc8b6ca
gdown==3.3.1