# Usuals
numpy==1.20.3
pandas==1.3.3
sparse==0.12.0
seaborn==0.11.1
matplotlib==3.4.2

# PyTorch (GPU versions)
torch==1.9.0+cu111
torchvision==0.10.0+cu111
--find-links https://download.pytorch.org/whl/torch_stable.html

# Ray[tune]
ray==1.7.0
ray[tune]

# Avalanche + Avalanche specific library versions not included in its requirements
git+https://github.com/ContinualAI/avalanche.git@39b092590bd2180f8d0b1dd4c167a76d79c45e1b
gdown==3.3.1